body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(224, 226, 226);
  color: #333;
}

#title {
  color: #dc900e;
  text-align: center;
  font-size: 3.4rem;
  padding-bottom: 30px;
}

section ol {
  background-color: rgb(179, 176, 176);
}

section li {
  font-size: 1.3rem;
  line-height: 2;
  background-color: aliceblue;
  padding: 10px 20px;
}

main {
  margin: 2% 5%;
  padding: 20px 40px;
  text-align: left;
  /* background-color: rgb(125, 128, 128); */
}

main h1,
h2,
h3 {
  padding-top: 5%;
  color: #555;
  font-size: 2.2rem;
  margin-top: 20px;
}

pre {
  background-color: #605c5c;
  color: #fff;
  border-radius: 5px;
  overflow-x: auto;
  padding: 1.2% 7%;
}

pre code {
  padding: 20px;
  font-family: Consolas, monospace;
  font-size: 1.5rem;
  line-height: 2;
}

p {
  color: #4a5e73;
  font-size: 1.3rem;
}

main a {
  color: #f5f7f9;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.section {
  background-color: rgb(89, 122, 91);
  padding: 10%;
}

section h1, h2,
h3,
p {
  color: rgb(219, 216, 216);
  line-height: 1.5;
}

.article {
  background-color: cadetblue;
  padding: 10%;
}

article h2,
h3,
p {
  color: rgb(219, 216, 216);
  line-height: 1.5;
}
